.totalbody{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1a/Abstract-background-white-12.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: auto;
}
.liste-content{
margin-left: auto;
margin-right: auto;
width: 60em;
position:relative;
top: 10px;
bottom: 10px ;
}
.form-control{
  width: 15em;
}
.text-center{
  font-style:oblique;
  color:#DB7093;
  font-size: 50px;
}
thead {
tr {
  color:rgb(214, 18, 116);
}
}
