<div class="totalbody">
  <div class="paie-content">
     <tr style="align-content: center;">
        <th>
           <div class="btn-group mr-4" style="margin-left: 23px;">
              <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                 <button class="btn btn-outline-dark" ngbDropdownToggle>Liste des mois Janvier-Décembre</button>
                 <div class="dropdown-menu" ngbDropdownMenu >
                    <button ngbDropdownItem>Janvier</button>
                    <button ngbDropdownItem>Février</button>
                    <button ngbDropdownItem>Mars</button>
                    <button ngbDropdownItem>Avril</button>
                    <button ngbDropdownItem>Mai</button>
                    <button ngbDropdownItem>Juin</button>
                    <button ngbDropdownItem>Juillet</button>
                    <button ngbDropdownItem>Août</button>
                    <button ngbDropdownItem>Septembre</button>
                    <button ngbDropdownItem>Octobre</button>
                    <button ngbDropdownItem>Novembre</button>
                    <button ngbDropdownItem>Décembre</button>
                 </div>
              </div>
           </div>
        </th>
        <th>
           <div class="btn-group mr-3">
              <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                 <button class="btn btn-outline-dark" ngbDropdownToggle>Liste des Années 2017-2027</button>
                 <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem>2017</button>
                    <button ngbDropdownItem>2018</button>
                    <button ngbDropdownItem>2019</button>
                    <button ngbDropdownItem>2020</button>
                    <button ngbDropdownItem>2021</button>
                    <button ngbDropdownItem>2022</button>
                    <button ngbDropdownItem>2023</button>
                    <button ngbDropdownItem>2024</button>
                    <button ngbDropdownItem>2025</button>
                    <button ngbDropdownItem>2026</button>
                    <button ngbDropdownItem>2027</button>
                 </div>
              </div>
           </div>
        </th>
        <th>
           <div align="right">
     <tr id="b1"><button id="btn1" type="button" class="btn btn-info text-light ">Lancer la paie</button></tr>
     <tr id="b2"><button id="btn2" type="button" class="btn btn-info">Partager le livre de paie</button></tr>
     <tr id="b3"><button id="btn3" type="button" class="btn btn-info">Envoyer les bulletins de salaires</button></tr>
     </div>
     </th>
     </tr>
     <div class="container">
        <br>
        <table class="table table-bordered table-striped">
           <thead>
              <tr id=th>
                 <th></th>
                 <th>ID</th>
                 <th>Nom</th>
                 <th>Prénom</th>
                 <th>Position</th>
                 <th>Date de commencement</th>
                 <th>Action</th>
              </tr>
           </thead>
           <tbody>
              <ng-container *ngFor="let employe of employes">
                <app-paie-item style="display: contents;" [emp]="employe" (onaddRubrique)="addRubrique($event, employe.id)"></app-paie-item>
              </ng-container>
           </tbody>
        </table>
     </div>
  </div>
</div>
