<div class="totalbody">
  <div class="details-content">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Position</th>
            <th>Date de commencement</th>
            <th>Détails</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employe of employes">
            <app-moredetails-item style="display: contents;" [emp]="employe"></app-moredetails-item>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
